@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  body {
    font-family: 'Noto Sans';
    margin: 0;
  }

  .banner-nizar{
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    }

  #banner-text-nizar{
    margin-bottom: 2px;
    color: white;
    font-size: 0.75rem;
    display: inline-block;
    text-decoration: none;
    margin-right: 62px; 
  }

  #banner-text-nizar:hover{
    text-decoration: underline;
  }

  #banner-icon-nizar{
    margin-bottom: 2px;
    height: 18px;
    width: 18px;
    margin-right: 10.5px;
  }


  a {
    text-decoration: none;
    color: #111111;
}

.header-nizar{
  max-width: 112rem;
  margin: 0 auto;
  box-sizing: border-box;
}

  .menu-nav-container-nizar{
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    grid-template-areas: 
    "menu nav nav nav nav nav nav nav nav nav nav nav nav";
    padding-left: 1.20rem;
    padding-right: 1.85rem;
  }

  .nav-container-nizar{
    grid-area: nav;
    display: flex;
    align-items: center;
  }

  .nav-container-nizar .logo{
    width: 90px;
    height: 36px;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .nav-container-nizar nav{
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2.95rem;
    white-space: nowrap;
  }

  .nav-container-nizar nav ul{
    padding: 0;
    margin: 0 0 2px 0;
  }

  .nav-container-nizar nav li{
    list-style-type: none;
    display: inline-block;
    margin-right: 26px;
  }

  .nav-container-nizar nav li:hover{
    text-decoration: underline;
  }


.search-container-nizar {
  width: 100%;
}
  
  .search {
	font-family: 'Noto Sans';
	font-size: 16px;
	border: 2px solid transparent;
	box-sizing: border-box;
	border-radius: 50em;
	width: 100%;
	height: 54px;
  padding: .8125rem 3.375rem .8125rem 3.6rem;
  margin-left: 21px;
	outline: 0;
	background-color: #f5f5f5;
	background-image: url('../images/search-icon.svg');
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 1.4rem;
  }
  
  .search:hover {
	background-color: #E2E2E2;
	transition-duration: 0.2s;
  }

  .search:focus{
	border: 2px solid #1F599E;
	background-color: white;
	background-image: url('../images/close-icon.svg');
	transition-duration: 0s;
  }

  
nav.icons-nav-nizar{
  padding-top: 4px;
  margin-left: 126px;
  display: flex;

}

.icons-nav-nizar img{
	background-color: transparent;
	border-radius: 100%;		
	padding: 8px;
  margin-left: 8px;
  box-sizing: content-box;
}

.icons-nav-nizar img:hover{
	background-color: #F5F5F5;
	transition-duration: 0.1s;
}

.sale-container {
  display: flex;
  margin-top: 10px;
  padding-left: 8rem;
  padding-right: 1.85rem;  
}

.sale-banner img {
  align-items: center;
  width: 100%;
}


.page-content-nizar{
  padding: 0 2.5rem 0 8rem;
}

.sale-offer {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 10px;
  margin: 20px 0 0;
}

.offer-banner{
  background-color: #F8D348;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 12px;
  margin: 20px 0 2px 0;
  box-sizing: content-box;
  font-size: 14px;
}

.offer-banner p{
  margin: 0;
  margin-bottom: 1px;
}

#banner-icon{
  width: 24px;
  height: 24px; 
}

.information-banner{
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 12px;
  margin: 20px 0 2px 0;
  box-sizing: content-box;
  font-size: 14px;
}

.information-banner p{
  padding: 8px;
  margin: 0;
  margin-bottom: 1px;
  text-decoration: underline;
}

#information-icon{
  width: 24px;
  height: 24px; 
}

.img-gallery-2-nizar{
  margin-top: 80px;
  line-height: 1.6;
}

.img-gallery-2-nizar p{
  font-size: 14px;
  color: #484848;
  width: 550px;
  margin-bottom: 30px;
}


/* end of gallery 2 */

figure{
  margin: 0;
}

.gallery-nizar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 1.25rem; 
  height: 750px;
  margin-bottom: 4rem;
}

.gallery__img-nizar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item-1-nizar {
  grid-column: 1 / span 2; 
  grid-row: 1 / span 7;
}

.gallery__item-2-nizar {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
}

.gallery__item-3-nizar {
  grid-column: 3 / span 1;
  grid-row: 4 / span 4;
}

.gallery__item-4-nizar {
  grid-column: 4 / span 1;
  grid-row: 1 / span 4;
}

.gallery__item-5-nizar {
  grid-column: 4 / span 1;
  grid-row: 5 / span 3;
}

hr{
  border-top: 1px solid #cccccc;
  margin: 2rem 0;
}

.scroll-menu2-nizar{
  overflow: auto;
  white-space: nowrap; 
}

.scroll-menu2-nizar::-webkit-scrollbar{
  height: 2px;
  width: 2px;
  border-radius: 100%;
  background: #DFDFDF;
}

.scroll-menu2-nizar::-webkit-scrollbar-thumb{
  background: #000000;
}

.scroll-menu2-img-nizar{
  width: 100%; 
}

.scroll-menu2-title-nizar{
  margin: 60px 0 40px 0;
  font-size: 24px;
}

.scroll-menu2-item-nizar{
  width: calc(309px * (3 / 4));
  margin: 0 1.25rem 30px 0;
  position: relative;
  display: inline-block;
  text-align: center;
}

.scroll-menu2-item-title-nizar{
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 12px;
  padding: 0.65rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  white-space: normal;
  width: 120px;
}

.scroll-menu2-item-title-nizar:hover{
  background-color: #F5F4F5;
}

/* ---------------------- gallery end --------------------------------- */

.break-menu {
  border-top: 1px solid #cccccc;
}

/* .scroll-menu{
  overflow: auto;
  white-space: nowrap; 
} */

/* .scroll-menu::-webkit-scrollbar{
  height: 2px;
  width: 2px;
  border-radius: 100%;
  background: #DFDFDF;
}

.scroll-menu::-webkit-scrollbar-thumb{
  background: #000000;
} */

.scroll-menu-item-nizar{
  margin-top: 100px;
  background-color: #F8D348;
  width: calc((100% - 1.25rem * 2) / 3);
  margin-right: 1rem;
  display: inline-block;
  margin-bottom: 40px;
  overflow: hidden;
}

#second-scroll-item{
  background-color: #AE242A;
}

#third-scroll-item{
  background-color: #2B323F;
}

#fourth-scroll-item{
background-color: #584C48;
}

.scroll-menu-item-nizar p{
  color: white;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 32px;
  padding-bottom: 50px;
  white-space: normal;
  height: 60px;
}

#first-scroll-item-p{
  color: #111111;
}

.scroll-menu-item-nizar p:hover{
  text-decoration: underline;
}

.scroll-menu-img-nizar{
  width: 100%;
}

.scroll-menu-icon{
  margin-left: 32px;
  margin-bottom: 30px;
	background-color: white;
	border-radius: 100%;		
	padding: 16px;
}

.scroll-menu-icon:hover{
	background-color: #f5f5f5;
}

.ideas-title{
  margin-bottom: 0;
}

.ideas-button{
  margin: 30px 0 0 0;
  color: black;
  display: inline-block;
  width: auto;
  font-weight: bold;
  font-size: 12px;
  padding: 0.65rem 1.5rem;
  background-color: #f5f5f5;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.ideas-button:hover{
  background-color: #DFDFDF;
}

.ideas-gallery{
  box-sizing: border-box;
}

.ideas-gallery-row {
  display: flex;
  flex-wrap: wrap;
}

.ideas-gallery-column {
  flex: 20%;
  padding: 0.6rem;

}

.ideas-gallery-column img {
  vertical-align: middle;
  width: 100%;
  padding: 0.6rem;
}

.ideas-container div{
  text-align: center;
}

#first-column2{
  object-fit: cover;
  height: 400px;
}

.load-more-button{
  margin: 30px 0 100px 0;
  color: black;
  display: inline-block;
  width: auto;
  font-weight: bold;
  font-size: 12px;
  padding: 0.65rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 6rem;
  border: 1px solid #DFDFDF;
}

.load-more-button:hover{
  border: 1px solid #929292;
}

.scroll-menu2{
  overflow: auto;
  white-space: nowrap; 
}

.scroll-menu2::-webkit-scrollbar{
  height: 2px;
  width: 2px;
  border-radius: 100%;
  background: #DFDFDF;
}

.scroll-menu2::-webkit-scrollbar-thumb{
  background: #000000;
}

.scroll-menu2-img{
  width: 100%; 
}

.scroll-menu2-title{
  margin: 60px 0 40px 0;
  font-size: 24px;
}

.scroll-menu2-item{
  width: calc(309px * (3 / 4));
  margin: 0 1.25rem 30px 0;
  position: relative;
  display: inline-block;
  text-align: center;
}

.scroll-menu2-item-title{
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 12px;
  padding: 0.65rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  white-space: normal;
  width: 120px;
}

.scroll-menu2-item-title:hover{
  background-color: #F5F4F5;
}

.scroll-menu3-title-nizar {
  margin: 60px 0 40px 0;
  font-size: 24px;
}

.product-image-nizar {
  width: calc(309px * (3 / 4));
  margin: 0 1.25rem 30px 0;
  position: relative;
  display: inline-block;
  text-align: center;
}

.product-image-nizar img {
  width: 100%;
}

.product-title-nizar b {
  font-size: 20px;
}

.product-price-nizar b {
  font-size: 20px;
}

.product-nizar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card-nizar {
  padding: 22px;
  margin-bottom: 2rem;
}

.checked {
  color: black;
}