<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKEA Indonesia</title>
    <meta name="image" content="https://www.ikea.com/images/ec/cc/ecccf8376b6f022bb39121b1de1a78d0.jpg">
    <link rel="stylesheet" href="/style/homeoffice.css">
    <script src="script/config.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="banner-nizar">
        <img id="banner-icon-nizar" src="/images/banner-icon.svg" alt="banner-icon">
        <a id="banner-text-nizar" href="">Kitchen online appointment booking</a>
    </div>
    <header class="header-nizar">
        <div class="menu-nav-container-nizar">
            <div class="nav-container-nizar">
                <a href="/index.html"><img class="logo" src="/images/logo.svg" alt="logo"></a>
                <nav>
                    <ul>
                        <li><a href="#">Products</a></li>
                        <li><a id="rooms" href="#">Rooms</a></li>
                    </ul>
                </nav>
                <div class="search-container-nizar">
                    <input id="myInput" onclick="search()" placeholder="What are you looking for?" type="text" class="search">
                    <script src="script/config.js"></script>
                </div>
                <nav class="icons-nav-nizar">
                    <a href="#"><img src="/images/user-icon.svg" alt="user-icon"></a>
                    <a href="#"><img src="/images/wishlist-icon.svg" alt="wishlist-icon"></a>
                    <a href="#"><img class="bag" src="/images/shopping-bag-icon.svg" alt="shopping-bag-icon"></a>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="page-content-nizar">
        <div class="img-gallery-2-nizar">
            <h1>BEKANT system</h1>
            <p>Concentrating on the job is a lot easier when everyone has a place that’s comfortable to work at. That’s why our BEKANT office desks offer lots of options for your specific needs. Plus, they give you the practical durability that working life demands.
            </p>
            <div class="container-nizar">
                <div class="gallery-nizar">
                    <figure class="gallery__item-1-nizar">
                        <img src="/images/PH181078-crop001.jpg" alt="Gallery 2 image 1" class="gallery__img-nizar">
                    </figure>
                    <figure class="gallery__item-2-nizar">
                        <img src="/images/a-light-spacious-office-interior-with-a-high-white-mesh-beka-09fa8dbfb3418022010adbf9d7bbc325.jpg" alt="Gallery 2 image 2" class="gallery__img-nizar">
                    </figure>
                    <figure class="gallery__item-3-nizar">
                        <img src="/images/PH188093.jpg" alt="Gallery 2 image 3" class="gallery__img-nizar">
                    </figure>
                    <figure class="gallery__item-4-nizar">
                        <img src="/images/PH167100-crop001.jpg" alt="Gallery 2 image 4" class="gallery__img-nizar">
                    </figure>
                    <figure class="gallery__item-5-nizar">
                        <img src="/images/PH181241-crop001.jpg" alt="Gallery 2 image 5" class="gallery__img-nizar">
                    </figure>
                </div>
        </div>
        <h1 class="scroll-menu2-title-nizar">Featured baby and kid's rooms</h1>
        <div class="scroll-menu2-nizar">
            <div class="scroll-menu2-item-nizar">
                <a href="#"><img src="/images/a-white-smastad-loft-bed-with-a-desk-that-has-an-oerfjaell-s-8d8554e261c1567ae180021cf92dc2f7.jpg" alt="" class="scroll-menu-img-nizar"></a>
                <a href="#" class="scroll-menu2-item-title-nizar">A unique teen retreat</a>
            </div>
            <div class="scroll-menu2-item-nizar">
                <a href="#"><img src="/images/a-room-with-a-sloping-ceiling-and-a-large-window-two-pahl-de-71db56556a7458efbaf2f7351d976cf7.jpg" alt="" class="scroll-menu-img-nizar"></a>
                <a href="#" class="scroll-menu2-item-title-nizar">Inspired by the sea</a>
            </div>
            <div class="scroll-menu2-item-nizar">
                <a href="#"><img src="/images/a-child-looks-into-an-open-box-of-one-of-two-trofast-storage-4c26eee55a33a0c9f8bb81a35d87a38f.jpg" alt="" class="scroll-menu-img-nizar"></a>
                <a href="#" class="scroll-menu2-item-title-nizar">Small with lots of storage</a>
            </div>
            <div class="scroll-menu2-item-nizar">
                <a href="#"><img src="/images/a-shared-childrens-room-where-some-mammut-childrens-furnitur-5fcab870633f01e71a7d60c75d065b45.jpg" alt="" class="scroll-menu-img-nizar"></a>
                <a href="#" class="scroll-menu2-item-title-nizar">A fun and creative space</a>
            </div>
            <div class="scroll-menu2-item-nizar">
                <a href="#"><img src="/images/a-bedroom-with-a-kura-reversible-bed-covered-with-blavingad--aeee5e0d2c22cfd4ba51fd8ba819a1a0.jpg" alt="" class="scroll-menu-img-nizar"></a>
                <a href="#" class="scroll-menu2-item-title-nizar">Playful and relaxing</a>
            </div>
        </div>
    </div>
    <h1 class="scrool-menu3-title-nizar">Top Seller</h1>
    <section class="product-nizar">
        <a href="">
            <div class="product-card-nizar">
                <div class="product-image-nizar">
                    <img src="/images/mala-felt-tip-pen-mixed-colors__0710244_pe727426_s5.jpg" alt="">
                </div>
                <div class="product-description-nizar">
                    <div class="product-title-nizar"><b>SVARTPOPPEL</b></div>
                    <div class="product-description-nizar">Lorem lipsum</div>
                    <div class="product-price-nizar"><b>Rp. 100.000</b></div>
                    <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="product-card-nizar">
                <div class="product-image-nizar">
                    <img src="/images/lillabo-45-piece-train-set-with-track__0712397_pe728813_s5.jpg" alt="">
                </div>
                <div class="product-description-nizar">
                    <div class="product-title-nizar"><b>SVARTPOPPEL</b></div>
                    <div class="product-description-nizar">Lorem lipsum</div>
                    <div class="product-price-nizar"><b>Rp. 100.000</b></div>
                    <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="product-card-nizar">
                <div class="product-image-nizar">
                    <img src="/images/gosig-golden-soft-toy-dog-golden-retriever__0710169_pe727372_s5.jpg" alt="">
                </div>
                <div class="product-description-nizar">
                    <div class="product-title-nizar"><b>SVARTPOPPEL</b></div>
                    <div class="product-description-nizar">Lorem lipsum</div>
                    <div class="product-price-nizar"><b>Rp. 100.000</b></div>
                    <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="product-card-nizar">
                <div class="product-image-nizar">
                    <img src="/images/blahaj-soft-toy-shark__0710175_pe727378_s5.jpg" alt="">
                </div>
                <div class="product-description-nizar">
                    <div class="product-title-nizar"><b>SVARTPOPPEL</b></div>
                    <div class="product-description-nizar">Lorem lipsum</div>
                    <div class="product-price-nizar"><b>Rp. 100.000</b></div>
                    <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="product-card-nizar">
                <div class="product-image-nizar">
                    <img src="/images/flisat-toy-storage-with-casters__0747570_pe744591_s5.jpg" alt="">
                </div>
                <div class="product-description-nizar">
                    <div class="product-title-nizar"><b>SVARTPOPPEL</b></div>
                    <div class="product-description-nizar">Lorem lipsum</div>
                    <div class="product-price-nizar"><b>Rp. 100.000</b></div>
                    <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="product-card-nizar">
                <div class="product-image-nizar">
                    <img src="/images/kalas-18-piece-flatware-set-mixed-colors__0998014_pe822915_s5.jpg" alt="">
                </div>
                <div class="product-description-nizar">
                    <div class="product-title-nizar"><b>SVARTPOPPEL</b></div>
                    <div class="product-description-nizar">Lorem lipsum</div>
                    <div class="product-price-nizar"><b>Rp. 100.000</b></div>
                    <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="product-card-nizar">
                <div class="product-image-nizar">
                    <img src="/images/nattslaenda-duvet-cover-and-pillowcase-s-floral-pattern-multicolor__0977177_pe813446_s5.jpg" alt="">
                </div>
                <div class="product-description-nizar">
                    <div class="product-title-nizar"><b>SVARTPOPPEL</b></div>
                    <div class="product-description-nizar">Lorem lipsum</div>
                    <div class="product-price-nizar"><b>Rp. 100.000</b></div>
                    <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                </div>
            </div>
        </a>
        <a href="">
            <div class="product-card-nizar">
                <div class="product-image-nizar">
                    <img src="/images/mala-watercolor-box-mixed-colors__0712615_pe728930_s5.jpg" alt="">
                </div>
                <div class="product-description-nizar">
                    <div class="product-title-nizar"><b>SVARTPOPPEL</b></div>
                    <div class="product-description-nizar">Lorem lipsum</div>
                    <div class="product-price-nizar"><b>Rp. 100.000</b></div>
                    <div class="star-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                </div>
            </div>
        </a>
    </section>
</body>
</html>